:host {
  margin: 0 auto;
  padding: 20px;
  max-width: 250px;
  text-align: center;
  position: relative;
  display: block;
  border: 1px solid black;
}

.stopwatch {
  font-size: 50px;
  word-break: break-word;
}

.buttons {
  font-size: 0;
  text-align: center;

  button {
    display: inline-block;
    vertical-align: middle;
    width: 33.33%;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.stopwatch, .buttons {
  margin-bottom: 15px;
}
.configuration-item {
  text-align: left;
}
.configuration-item {
  white-space: nowrap;

  label, input {
    display: inline-block;
    width: 50%;
  }
}
